{
    "extends": "standard",
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-tabs": "off"
    }
}